name: Deploy Web Segura
on:
  push:
    branches: ["main"] # Se activa al subir cambios a main

permissions:
  contents: write # Permiso para crear la rama de publicaci칩n

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del c칩digo
        uses: actions/checkout@v4

      - name: Inyectar URLs de Power Automate
        run: |
          # Usamos un comando de Python que es mucho m치s estable para URLs largas que sed
          python3 -c "
          import os, sys
          content = open('index.js').read()
          # Reemplazamos la palabra clave por el valor del Secreto
          content = content.replace('FLOW_HISTORIAL_REGISTROS', os.environ['URL_HIST'])
          with open('index.js', 'w') as f:
              f.write(content)
          "
        env:
          URL_HIST: ${{ secrets.FLOW_HISTORIAL_REGISTROS }}
          
      - name: Subir a GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: . 
          branch: gh-pages # Esta es la rama que "servir치" la web final
